@import 'common/colors';

.search_results {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.filters_wrapper {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    background-color: $white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5em 3.5em;
    background-color: $accent;
    font-family: 'Montserrat Bold';
}

.title {
    font-size: 1.8em;
    font-weight: bold;
    color: $white;
}

.link {
    font-size: 1.2em;
    color: $text;
} 