@import 'common/colors';
@import 'common/functions';

.tag_wrapper {
    background-color: $accent;
    color: $white;
    border-radius: 5px;
    padding: .5em;
    font-size: em(9);
    font-family: 'Montserrat Light', 'Roboto', sans-serif;
}

.tag_wrapper + .tag_wrapper {
    margin-left: 5px;
}

.tag_text::before {
    color: $white;
    content: "\2022"; 
    font-size: 1em;
    padding-right: .3em;
    position: relative;
    top: 0em;
}